.root {
	margin: 180px 312px;
	color: #fff;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-size: 52px;
	}
}

.details {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	gap: 20px;
	margin-top: 50px;
}

.categories {
	display: flex;
	flex-direction: row;

	margin-top: 30px;
	margin-bottom: 30px;
}

.categoriesSelect {
	display: none;
}

@media (max-width: 1585px) {
	.root {
		margin: 180px 100px;
	}
}

@media (max-width: 900px) {
	.categoriesSelect {
		display: block;
		background-color: #db3138;
		width: 180px;
		height: 75px;
		color: #fff;
		font-size: 25px;
		font-family: 'Bebas Neue';
		text-align: center;
		font-size: 30px;

		margin-top: 30px;

		option {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: 50%;
			height: 200px;
			color: #fff;
		}

		option:hover,
		option:focus,
		option:active,
		option:checked {
			background-color: #000;
		}
	}

	.categories {
		display: none;
	}
}

@media (max-width: 430px) {
	.root {
		h1 {
			text-align: center;
		}
	}
}
