@media (max-width: 630px) {
	.footer {
		&_header {
			text-align: center;
		}

		&_form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			margin-left: 15px;
			margin-right: 15px;
		}

		&_submit {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.icons {
				justify-content: center;
				align-items: center;
				margin-top: 15px;
			}
		}
	}
}

@media (max-width: 415px) {
	.footer {
		&_end {
			height: 100px;

			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				gap: 10px;
				li {
				}
			}
		}
	}
}
