@font-face {
	font-family: 'ReformaGroteskReformaGroteskLight';
	src: url('../assets/Reforma-Grotesk/Reforma Grotesk Medium.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600&family=Oswald:wght@200;300;400;500;600;700&family=Rajdhani:wght@400;500;600&family=Roboto&display=swap');
$default-font: 'Bebas Neue';
$special-font: 'ReformaGroteskReformaGroteskLight';
